<div class="banner">
  <div class="container d-flex justify-content-center">
    <div class="avatar">
      <img src="../assets/images/avatar.jpg" alt="kyle_photo">
      <div class="avatar-infos">
        <div class="title">
          <h3>Kyle Alexander Bailey</h3>
          <h5>Full-Stack Developer</h5>
        </div>
        <div class="description">
          <p>Travel enthusiast and lover of the outdoors</p>
        </div>
      </div>
    </div>
  </div>
</div>
