<div class="banner">
  <div class="container d-flex justify-content-center">
    <div class="avatar">
      <%= image_tag 'avatar.jpg', :alt => "Kyle photo" %>
      <div class="avatar-infos">
        <div class="title">
          <h1>Kyle Alexander Bailey</h1>
          <h5>Full-Stack Developer</h5>
        </div>
        <div class="description d-flex flex-row justify-content-start">
          <a href="https://www.linkedin.com/in/kyle-alexander-bailey/" target="_blank" class="btn btn-outline-secondary btn-sm"><i class="fab fa-linkedin"></i></a>
          <a href="https://github.com/2tonepantone" target="_blank" class="btn btn-outline-secondary btn-sm"><i class="fab fa-github-alt"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
