<div class="banner">
  <div class="container d-flex">
    <div class="card-avatar">
      <img src="../assets/images/avatar.jpg" alt="kyle_photo">
      <div class="card-avatar-infos">
        <div>
          <h3>Kyle Alexander Bailey</h3>
          <h5>Full-Stack Developer</h5>
        </div>
        <div>
          <p>Travel enthusiast and lover of the outdoors</p>
        </div>
      </div>
    </div>
  </div>
</div>
