<div class="banner">
  <div class="container d-flex justify-content-center">
    <div class="avatar">
      <%= image_tag 'avatar.jpg', :alt => "Kyle photo" %>
      <div class="avatar-infos">
        <div class="title">
          <h1>Kyle Alexander Bailey</h1>
        </div>
        <div class="description d-flex">
          <h5>Full-Stack Engineer</h5>
          <div class="socials flex-row justify-content-start">
            <a
              href="https://gitlab.com/kylealexbailey"
              class="text-secondary mr-2"
              target="_blank"
            >
              <i class="fab fa-gitlab"></i>
            </a>
            <a
              href="https://github.com/2tonepantone"
              class="text-secondary mr-2"
              target="_blank"
            >
              <i class="fab fa-github"></i>
            </a>
            <a
              href="https://www.linkedin.com/in/kyle-alexander-bailey/"
              class="text-secondary"
              target="_blank"
            >
              <i class="fab fa-linkedin"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
