<div class="wrapper">
  <div class="cards">
    <% data.projects.each do |project|  %>
      <div class="card">
        <h5><%= project.name %></h2>
        <p><%= image_tag (project.images[0]) %></p>
        <div class="info-project">
          <% project.tags.each do |tag| %>
            <span><i class="<%= tag %>"></i></span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
