<div class="container">
  <% data.sections.each do |section| %>
    <div class="section <%= section.title.downcase  %>">
      <div class="title">
        <h2><%= section.title %></h2>
      </div>
      <div class="description">
        <p><%= section.description %></p>
      </div>
      <%= partial "partials/projects", locals: { category: section.id } if section.title["Projects"] %>
    </div>
  <% end %>
</div>
