// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$blue-sapphire: #006E90;
$blue-purple: #B4ADEA;
$english-violet: #5C415D;
$raisin-black: #1A1B25;
$blue-violet: #4E148C;
$cornflower-blue: #858AE3;
$lavender-blush: #FFE9F3;

// Section title bottom border
$pastel-purple: #c1c4eb;
// Header and project info border color
$nyanza: #E4FDE1;
// Body background and avatar border
$ivory: #FFFFF2;
