.avatar {
  height: 200px;
  display: flex;
  padding: 0px 8px;
  img {
    height: 300px;
    border-radius: 9.375rem;
    border: $ivory 16px solid;
    align-self: center;
  }
  .title {
    margin-top: 2rem;
  }
}

.avatar-infos {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  h1 {
    font-weight: 700;
  }
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .description {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
}

@media(max-width: 576px) {
  .title h1 {
    font-size: 1.7rem;
  }
}

@media(max-width: 1030px) {
  .avatar {
    height: 300px;
    margin: 0;
    display: block;
    text-align: center;
  .title {
    margin: 0;
  }
  }
  .avatar img {
    height: 300px;
  }
  .avatar-infos {
    margin: 0;
    .description {
      margin: 0;
    }
    div {
      justify-content: center !important;
    }
  }
}
