.banner {
  background-color: $nyanza;
  height: 200px;
  padding-top: 100px;
}

.title h2 {
  font-size: 2.5rem;
  display: inline-block;
  padding-top: 200px;
  padding-bottom: .25rem;
  border-bottom: 4px $pastel-purple solid;
}

@media(max-width: 576px) {
  .banner {
    padding-top: 50px;
  }
  .title h2 {
    padding-top: 400px;
  }
}
