.project-infos {
  background-color: $lavender-blush;
  width: 50vh;
  height: 450px;
  padding-left: 164px;
}

.project:nth-child(even) {
  flex-direction: row-reverse;
  .image {
    left: 0px;
  }
  .project-infos {
    padding-right: 164px;
    padding-left: 24px;
  }
}

.project .image {
  position: relative;
  left: 150px;
  margin-left: -150px;
}

.project img {
  width: 300px;
  height: 350px;
  object-fit: contain;
}
